# conditional statements

* If conditions

In [1]:
a = 23
b = 34
if a<b:
    print("a is less than b")

a is less than b

* elif statement

In [4]:
a = 33
b = 33

if b>a:
    print(" b is greater than a")
elif a>b:
    print("a is grater than b")
elif a==b:
    print("a and b are equal")

a and b are equal

* else statement

In [5]:
a = 33
b = 33

if b>a:
    print(" b is greater than a")
elif a>b:
    print("a is grater than b")
elif a==b:
    print("a and b are equal")
else :
    print("unable to recognized")

a and b are equal

In [8]:
# checking number is even or odd by taking input from user
print(" Enter any number")
num = int(input()) #by default the number we have entered is in string format so we use int here
print("Your entered number is :",num)
if num%2==0:
    print("Number is even")
else:
    print("Number is odd")

 Enter any number
5
Your entered number is : 5
Number is odd

In [9]:
# method2 

a=2
b=300
print("A") if a>b else print("B")

B

# Loops

In [10]:
product_list = ["bajaj","shine","unicorn","pulsor","dominor","avenger","platina"]

* For Loop

In [13]:
for i in range(100):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [15]:
# iterating list using for loop
for i in product_list:
    print(i,end=" ")

bajaj shine unicorn pulsor dominor avenger platina

In [25]:
# multiples of 3 and 5
for i in range(100):
    if i %3 ==0 and i%5==0:
        
        print(i,end=" ")
    #print(i,end=" ")

0 15 30 45 60 75 90

In [28]:
# String iteration using for loop
str1 = " GCOEARA "
for i in str1:
    print(i,end=" ")

  G C O E A R A

In [29]:

for i in "GCOEARA":
    print(i,end=" ")

G C O E A R A

* While Loop

In [33]:
# multiples of 3 and 5
i=0
while i<100:# conditions 
    if i%3==0 and i%5 ==0:#body
        print(i,end=" ")
    i =i+1 # increment /decrement

0 15 30 45 60 75 90

### Continue,break and pass

* Break

In [36]:
l1 = ['banana','cherry','apple','orange','pineapple']

for i in l1:
    if i == 'apple':
        break    # used to come out of the loop when condition mached
    print(i,end=" ")

banana cherry

* Continue

In [38]:
l1 = ['banana','cherry','apple','orange','pineapple']

for i in l1:
    if i == 'apple':
        continue    # when condition mached then that element is skip or drop
    print(i,end=" ")

banana cherry orange pineapple

* Pass

In [39]:
# used to pass control to next 
# does not used to perform any operations
for i in range(4):
    pass

In [40]:
def f1():
    pass
f1()

In [42]:
# else block with loop

for num in range(100):
    print(num,end=" ")
    
else :
    print("loop finished")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 loop finished

* Nested loops

In [43]:
adj = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for c in adj:
    for d in fruits:
        print(c,d)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry