# LIST

* List are the arrays in python used to store different types of values.
* List is mutable and stores values in square brackates.
* It is ordered collection of elements.

In [1]:
gen_list = [1,'mango',65.67,'aakanksha']
print(gen_list)

[1, 'mango', 65.67, 'aakanksha']

In [2]:
print(type(gen_list))

<class 'list'>

In [3]:
#element access using index
print(gen_list[1])
print(gen_list[-1])
print(gen_list[0])
print(gen_list[-3])

mango
aakanksha
1
mango

In [4]:
# for accesing all elements in the list
for i in gen_list:
    print(i)

1
mango
65.67
aakanksha

In [5]:
gen_list[0:2]

[1, 'mango']

In [6]:
gen_list[2:4]

[65.67, 'aakanksha']

In [7]:
gen_list

[1, 'mango', 65.67, 'aakanksha']

In [8]:
gen_list[-2:-1]

[65.67]

In [9]:
#creating new list using elements in gen list
new_list = gen_list[2:4]

In [10]:
new_list

[65.67, 'aakanksha']

In [11]:
# to,print length of list
len(gen_list)

4

In [12]:
gen_list[2:]

[65.67, 'aakanksha']

In [13]:
gen_list[-2:]

[65.67, 'aakanksha']

In [14]:
gen_list[:2]

[1, 'mango']

In [15]:
gen_list[:-2]

[1, 'mango']

In [16]:
# concatenation of list
sublist1=gen_list[1]
sublist2=gen_list[3]
sublist=sublist1 +" "+ sublist2
print(sublist)
print(len(sublist))

mango aakanksha
15

In [17]:
# list can have another list as an element
numbers=[[1,2],[1,3,5,67],'aakanksha','mango','orange']
print(len(numbers))

5

In [18]:
numbers[1]

[1, 3, 5, 67]

In [19]:
numbers[1][0]

1

In [20]:
numbers[0][1]

2

In [21]:
# Adding new element in the list
numbers.append('supekar')

In [22]:
numbers

[[1, 2], [1, 3, 5, 67], 'aakanksha', 'mango', 'orange', 'supekar']

In [23]:
# inserting element at specific location
numbers.insert(2,55)

In [24]:
numbers

[[1, 2], [1, 3, 5, 67], 55, 'aakanksha', 'mango', 'orange', 'supekar']

In [25]:
# removing element from the list
numbers.remove(55)

In [26]:
numbers

[[1, 2], [1, 3, 5, 67], 'aakanksha', 'mango', 'orange', 'supekar']

In [27]:
# removing element using index
numbers.pop(1)
print(numbers)

[[1, 2], 'aakanksha', 'mango', 'orange', 'supekar']

In [28]:
numbers

[[1, 2], 'aakanksha', 'mango', 'orange', 'supekar']

In [29]:
# deleting complete list
del numbers

In [30]:
numbers

NameError: name 'numbers' is not defined

# TUPLE

* Ordered Collection of data.
* tuples are immutable.
* duplicate elements are allowed in tuple.
* for creating tuples we use round brackets.

In [32]:
#Creating tuple t1
t1 = (1,2,3,3,4,4,'aakanksha','supekar',True)
print(t1)

(1, 2, 3, 3, 4, 4, 'aakanksha', 'supekar', True)

In [33]:
print(type(t1))

<class 'tuple'>

In [34]:
len(t1)

9

In [35]:
t1[1]

2

In [36]:
t1[1:]

(2, 3, 3, 4, 4, 'aakanksha', 'supekar', True)

In [37]:
t1[:5]

(1, 2, 3, 3, 4)

In [38]:
t1[5:8]

(4, 'aakanksha', 'supekar')

In [39]:
t1[-1:-5]

()

In [40]:
t1[-4:-1]

(4, 'aakanksha', 'supekar')

In [41]:
l1 = list(t1)

In [42]:
type(t1)

tuple

In [43]:
type(l1)

list

In [44]:
print(l1)

[1, 2, 3, 3, 4, 4, 'aakanksha', 'supekar', True]

In [45]:
l1.append("dbms")
print(l1)

[1, 2, 3, 3, 4, 4, 'aakanksha', 'supekar', True, 'dbms']

In [46]:
t1

(1, 2, 3, 3, 4, 4, 'aakanksha', 'supekar', True)

In [47]:
t1 = tuple(l1)

In [48]:
t1

(1, 2, 3, 3, 4, 4, 'aakanksha', 'supekar', True, 'dbms')

# Set

* Unordered datatype.
* unindexed
* mutable for few operations
* allows different types of elements
* duplicate elements are not allowed
* {} used to represet set

In [49]:
set1 = {1,2,4,5,'aakanksha'}
print(set1)

{1, 2, 4, 5, 'aakanksha'}

In [50]:
len(set1)

5

In [51]:
set1.insert('i like python')

AttributeError: 'set' object has no attribute 'insert'

In [52]:
#SLICING IS NOT POSSIBLE IN SET

In [53]:
# for printing all elements in set
for i in set1:
    print(i)

1
2
4
5
aakanksha

In [54]:
# checking element exist in set or not using in operator
print(2.4 in set1)
print(2 in set1)

False
True

In [55]:
set1[1]=6

TypeError: 'set' object does not support item assignment

In [56]:
# new element in set can be added using add operator
set1.add(99)
print(set1)

{1, 2, 99, 4, 5, 'aakanksha'}

In [57]:
# for adding multiple elements in set
set1.update(['hi','enjoying learning',8])
set1

{1, 2, 4, 5, 8, 99, 'aakanksha', 'enjoying learning', 'hi'}

In [58]:
# for remove elements
set1.remove(8)
set1

{1, 2, 4, 5, 99, 'aakanksha', 'enjoying learning', 'hi'}

In [59]:
# to make copy into another set
set2 = set1.copy()
set2

{1, 2, 4, 5, 99, 'aakanksha', 'enjoying learning', 'hi'}

In [60]:
set1.pop()

1

In [61]:
set1

{2, 4, 5, 99, 'aakanksha', 'enjoying learning', 'hi'}

In [62]:
# for deleting entire set
del set1

In [63]:
set1

NameError: name 'set1' is not defined

In [64]:
# set operations
setA = {'google','apple',3,67,89}
setB = {'hp', 'google','apple',5,7}
print("setA:",setA)
print("setB:",setB)

setA: {67, 3, 'google', 89, 'apple'}
setB: {5, 7, 'google', 'hp', 'apple'}

In [65]:
# union
Unionset = setA.union(setB)
print(Unionset)

{67, 3, 5, 7, 'google', 'hp', 89, 'apple'}

In [66]:
#intersectionUnionset = setA.union(setB)
inter = setA.intersection(setB)
print(inter)

{'google', 'apple'}

In [67]:
# Difference
diff=setA.difference(setB)
print(diff)

{3, 89, 67}

In [68]:
#symmetric difference
sym_diff=setA.symmetric_difference(setB)
print(sym_diff)

{67, 3, 5, 7, 89, 'hp'}

In [69]:
# is subset
print(setA.issubset(setB))

False

In [70]:
#is superset
print(setA.issuperset(setB))

False

# Dictionary

* unorderd collection of data in key : value format
* mutable
* {} is used to represent
* indexing is not available

In [71]:
# creating dictionary
bio = {"name":"Aakanksha","Father name":"Ashok","Surname":"Supekar","age":19}
print(bio)

{'name': 'Aakanksha', 'Father name': 'Ashok', 'Surname': 'Supekar', 'age': 19}

In [72]:
type(bio)

dict

In [73]:
len(bio)

4

In [74]:
#accesing elements
for i in bio:
    print(i)

name
Father name
Surname
age

In [75]:
print(type(bio))

<class 'dict'>

In [76]:
bio.items()

dict_items([('name', 'Aakanksha'), ('Father name', 'Ashok'), ('Surname', 'Supekar'), ('age', 19)])

In [77]:
print(bio)

{'name': 'Aakanksha', 'Father name': 'Ashok', 'Surname': 'Supekar', 'age': 19}

In [82]:
# accesing particular item from dictionary
print(bio["name"])
print(bio["Father name"])
print(bio["Surname"])

Aakanksha
Ashok
Supekar