Introduction To Python

In [2]:
print('hello world')

hello world

INDENTATION : white space at the start of code

In [6]:
if 2<3:
    print("proper indentation")
print("we are out of the loop")

proper indentation
we are out of the loop

In [7]:
# to run particular block of code , all statements should have same indent space
if 2<3:
    print("TRUE")
    print("proper indented")

TRUE
proper indented

COMMENTS : non executable statements

In [8]:
# TO WRITE A COMMENT WE USE HASH SYMBOL
"""
Multiline comment

"""

'\nMultiline comment\n\n'

# VARIABLES

In [10]:
# Contaners which stores values
roll_no = 6
name = 'AAKANKSHA '
percentage = 9.14

In [12]:
type(roll_no)

float

In [14]:
type(name)

str

In [15]:
type(percentage)

float

In [17]:
var1=var2=var3=67
print(var1)
print(var2)
print(var3)

67
67
67

In [18]:
v1,v2,v3=10,20,30
print(v1)
print(v2)
print(v3)

10
20
30

In [19]:
# valid invalid variables
var1=12#valid
1var=12#invalid
var@=hello#invalid
va76=903valid
_vdfg=67#valid

SyntaxError: invalid syntax (<ipython-input-19-ce210287eb16>, line 3)

In [21]:
# concatenating two strings
x = 'awesome'
print('python is ',x) # 1 method
print("python is "+" "+x) # 2 method

python is  awesome
python is  awesome

In [28]:
str1 = 'python is '
str2 = 'awesome'
print(str1+str2)

python is awesome

In [25]:
num1 = 11
num2 = 22
print(num1+num2)

33

In [30]:
num1 = 11
num2 = "hello"
print(num1+num2)
# concatination happens in between same data type

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
num1 = '11'
num2 = '22'
print(type(num1))
print(type(num2))
print(num1+num2)

<class 'str'>
<class 'str'>
1122

In [34]:
# float + int
num1= 22
num2= 45.6
print(num1+num2)

67.6

In [37]:
# GLOBAL VARIABLES
str = 'Awesome'
def f1():
    print("python is ",str)
f1()

python is  Awesome

In [44]:
def f2():
    str22 = 'Awesome'
f2()
print("python is",str22) # we cannot access local variable otside the function

NameError: name 'str22' is not defined

In [46]:
def f2():
    global str22
    str22 = 'Awesome'
f2()
print("python is",str22)

python is Awesome

# Datatypes

In [48]:
X = " AAKANKSHA "
y = 2
z = 56.56
b = ['apple','banana','orange']
c = ('mobile',56,'laptop')
d = range(6)
e = {"apple","banana"}
f = {'name':"AAKANKSHA",'age':19}
g = frozenset({"apple","banana"})

In [49]:
print(type(X))
print(type(y))
print(type(z))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'set'>
<class 'dict'>
<class 'frozenset'>

In [50]:
num = 45555
num

45555

In [51]:
num = 99947366789234567890

In [53]:
# input method is used to take input from user
print('Enter any number')
input()

Enter any number
67

'67'