* String : sequence of characters

In [9]:
str1 = " Hello world"
print(str1)
len(str1)

 Hello world

12

In [2]:
print(type(str1))

<class 'str'>

In [12]:
print(str1.capitalize())

 hello world

In [11]:
print(str1.casefold())

 hello world

In [14]:
print(str1.count("H"))
print(str1.count("l"))

1
3

In [21]:
mystr = "AAKANKSHA"
print(mystr.center(24,"*"))

*******AAKANKSHA********

In [23]:
print(mystr.endswith("A"))

True

In [24]:
print(mystr.upper())

AAKANKSHA

In [25]:
print(mystr.lower())

aakanksha

In [27]:
#String Concatenation
str1 = "hello"
str2 = "World"
print(str1+" "+str2)

hello World

In [32]:
txt = " this product is available for {price:.2f} rupees"
print(txt.format(price=75))

 this product is available for 75.00 rupees

In [36]:
# placeholders

# named indices
txt1 = "My name is {fname},my age is {age}".format(fname="kavya",age=5)
print(txt1)

# numbered indices
txt2 = "My name is {0},my age is {1}".format("kavya",5)
print(txt2)

# Empty placeholders
txt3="My name is {},my age is {}".format("kavya",5)
print(txt3)

My name is kavya,my age is 5
My name is kavya,my age is 5
My name is kavya,my age is 5